apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  annotations:
    infraenv.agent-install.openshift.io/ironic-agent-image-override: '{{ ironic_image }}'
  name: '{{ infraenv_name }}'
  namespace: '{{ hosted_control_plane_namespace }}'
spec:
  cpuArchitecture: x86_64
  pullSecretRef:
    name: pull-secret
  sshAuthorizedKey: '{{ ssh_public_key }}'
